  <%= link_to "&laquo;".html_safe, "" %>
  <ul>
    <li><%= rating_link(@entry, 1, current_user) %></li>
    <li><%= rating_link(@entry, 2, current_user) %></li>
    <li><%= rating_link(@entry, 3, current_user) %></li>
    <li><%= rating_link(@entry, 4, current_user) %></li>
    <li><%= rating_link(@entry, 5, current_user) %></li>
    <li><%= rating_link(@entry, 6, current_user) %></li>
    <li><%= rating_link(@entry, 7, current_user) %></li>
    <li><%= rating_link(@entry, 8, current_user) %></li>
    <li><%= rating_link(@entry, 9, current_user) %></li>
    <li><%= rating_link(@entry, 10, current_user) %></li>
  </ul>
  <%= link_to "&raquo;".html_safe, "" %>
