
<%= image_tag @entry.photo.url(:original) %>

<h2>
  <%= @entry.title %>
</h2>
<p>
<strong>Challenge</strong>: <%= @entry.challenge.name %>
</p>

<p>
<% if @challenge.is_open? and not current_user.nil? %>
  <div id="rating">
    <%= render :partial => 'rating_bar' %>
  </div>
<% end %>
</p>

<% if not @challenge.is_open? %>

<p>
  <%= @entry.description %>
</p>

<hr/>

<p>
  <b>Submitter:</b>
  <%= @entry.user.email %>
</p>

<p>
  <b>Location:</b>
  <%= @entry.location %>
</p>

<% if @entry.camera_make %>
<p>
  <b>Camera make:</b>
  <%= @entry.camera_make %>
</p>
<% end %>

<% if @entry.camera_model %>
<p>
  <b>Camera model:</b>
  <%= @entry.camera_model %>
</p>
<% end %>

<% if @entry.aperture %>
<p>
  <b>Aperture:</b>
  <%= @entry.aperture %>
</p>
<% end %>

<% if @entry.shutter_speed %>
<p>
  <b>Shutter Speed:</b>
  <%= @entry.shutter_speed %>
</p>
<% end %>

<% if @entry.iso %>
<p>
  <b>ISO:</b>
  <%= @entry.iso %>
</p>
<% end %>

<p>
  <b>Flash:</b>
  <%= @entry.flash ? 'yes':'no' %>
</p>

<% if not @challenge.is_open?%>
<p>
  <b>EXIF:</b>
  <pre>
  <%= @entry.exif %>
  </pre>
</p>
<% end %>

<% end %>

<p>
<%= link_to 'Back', challenge_path(@entry.challenge) %>
</p>
