<p class="notice"><%= notice %></p>

<%= image_tag @entry.photo.url(:thumb) %>

<p>
  <b>Submitter:</b>
  <%= @entry.user.email %>
</p>

<p>
  <b>Challenge:</b>
  <%= @entry.challenge.name %>
</p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<p>
  <b>Description:</b>
  <%= @entry.description %>
</p>

<p>
  <b>Location:</b>
  <%= @entry.location %>
</p>

<p>
  <b>EXIF:</b>
  <pre>
  <%= @entry.exif %>
  </pre>
</p>


<%= link_to 'Back', challenge_entries_path %>
