
<%= image_tag @entry.photo.url(:original) %>

<h2>
  <%= @entry.title %>
</h2>
<p>
<strong>Challenge</strong>: <%= @entry.challenge.name %>
</p>

<p>
<% if @challenge.is_open? %>
  <div id="rating">
  <%= link_to "&laquo;".html_safe, "" %>
  <% form_tag "" do %>
    <ul>
      <li><%= link_to "1", "" %></li>
      <li><%= link_to "2", "" %></li>
      <li><%= link_to "3", "" %></li>
      <li><%= link_to "4", "" %></li>
      <li><%= link_to "5", "" %></li>
      <li><%= link_to "6", "" %></li>
      <li><%= link_to "7", "" %></li>
      <li><%= link_to "8", "" %></li>
      <li><%= link_to "9", "" %></li>
      <li><%= link_to "10", "" %></li>
    </ul>
  <% end %>
  <%= link_to "&raquo;".html_safe, "" %>
  </div>
<% end %>
</p>

<% if not @challenge.is_open? %>

<p>
  <%= @entry.description %>
</p>

<hr/>

<p>
  <b>Submitter:</b>
  <%= @entry.user.email %>
</p>

<p>
  <b>Location:</b>
  <%= @entry.location %>
</p>

<% if @entry.camera_make %>
<p>
  <b>Camera make:</b>
  <%= @entry.camera_make %>
</p>
<% end %>

<% if @entry.camera_model %>
<p>
  <b>Camera model:</b>
  <%= @entry.camera_model %>
</p>
<% end %>

<% if @entry.aperture %>
<p>
  <b>Aperture:</b>
  <%= @entry.aperture %>
</p>
<% end %>

<% if @entry.shutter_speed %>
<p>
  <b>Shutter Speed:</b>
  <%= @entry.shutter_speed %>
</p>
<% end %>

<% if @entry.iso %>
<p>
  <b>ISO:</b>
  <%= @entry.iso %>
</p>
<% end %>

<p>
  <b>Flash:</b>
  <%= @entry.flash ? 'yes':'no' %>
</p>

<% if not @challenge.is_open?%>
<p>
  <b>EXIF:</b>
  <pre>
  <%= @entry.exif %>
  </pre>
</p>
<% end %>

<% end %>

<p>
<%= link_to 'Back', challenge_path(@entry.challenge) %>
</p>
