<h2>
  <%= @challenge.name %>
</h2>

<% if @challenge.entries.empty? %>
<p>
There have been no submissions to this challenge.
  <% if @challenge.is_open? %>
    <%= link_to "Be the first!", new_challenge_entry_path(@challenge) %>
  <% end %>
</p>
<% end %>

  <% @challenge.entries.each do |entry| %>
      <div class="entry">
      <%= link_to image_tag(entry.photo.url(:thumb)), challenge_entry_path(@challenge, entry) %>
      <br/>
      <%= entry.title %>
      <br/>
      <%= link_to "comment on this photo", entry_path(entry, :anchor => "comments") %>
      <br/>
      </div>
  <% end %>
<div class="clear"></div>
