<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rule.name %>
</p>

<p>
  <b>Description:</b>
  <%= @rule.description %>
</p>

<p>
  <b>Is hidden:</b>
  <%= @rule.is_hidden %>
</p>


<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
