<!DOCTYPE html>
<html>
<head>
  <title>Phodown</title>
  <%= stylesheet_link_tag :all %>
  
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js", 'rails.js' %>
  
  <%= csrf_meta_tag %>
</head>
<body>

<header>
<h1>
phodown
</h1>
</header>

<nav>
  <ul>
    <% if user_signed_in? %>
      <li>Signed in as <%= current_user.email %>. Not you? <%= link_to "sign out", destroy_user_session_path %></li>
    <% else %>
      <li><%= link_to "sign in", new_user_session_path %></li>
      <li><%= link_to "sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<article>
<%= yield %>
</article>

</body>
</html>
